@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.cart-container {
  background-color: var(--color-backround);
  padding: 0 0 80px 0;

}
.cart-content{
  padding: 0 70px;
}


.cart-hero{
  background-image: url("/Images/Untitled design.png");
  background-size: cover;
    padding: 0 70px 64px 70px;
    margin-bottom: 48px;
}
.cart-hero h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 16px;
}
/* Основная сетка корзины */
.cart-box {
    display: flex;
max-width: 1100px;
gap: 80px;
justify-content: space-between;
    width: 100%;
 
    box-sizing: border-box;
    margin: 0 auto;
  

  align-items: stretch;
}

/* Список товаров */
.cart-list {
 flex: 2;
  display: flex;
  flex-direction: column;
gap: 32px;
  align-items: center;
    background: var(--color-backround);
    border: 2px solid var(--color-accent);
    border-radius: 12px;
  justify-content: center;
  height: auto;
  padding: 32px;

}

.cart-list, .cart-summary {
    width: 100%;
    box-sizing: border-box;
}
/* Карточка товара */
.cart-item {
    
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
   
    width: 100%;
    max-width: 1000px;

    box-sizing: border-box;
  
}


.cart-item-image {
    
   width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: cover;
  display: block;
}

/* Название + цена */
.cart-item-title {
  margin: 0;
  font-size: var(--font-size-mobile-h4);
  flex: 1;

}

.cart-item-price {
  color: var(--color-button-cta);
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
}




/* Удалить товар */
.cart-remove {
  background: none;
  border: none;
  color: var(--color-accent);
  font-size: 1.2rem;
  cursor: pointer;
}

/* Блок итогов */
.cart-summary {

flex: 1;
  background: var(--color-secondary);
  padding: 16px;
  border-radius: var(--border-radius);
 border: 2px solid var(--color-accent);
  display: flex;
  flex-direction: column;
gap: 24px;
  align-items: flex-start; 
  border-radius: 10px;
  padding: 2rem;
    margin: 0 ;


}

/* Сумма */
.cart-total {
  font-size: 1.3rem;
  font-weight: bold;
}
#cart-total{
    color: var(--color-button-cta);
}

/* Пустая корзина */



/* cart-list занимает всю высоту блока */


/* Стили пустой корзины внутри cart-list */
.cart-empty-inside {
  color: var(--color-primary);
  text-align: center;
  
}

.cart-empty-inside .cta-button{
  margin-top: 24px ;
}


/* АДАПТИВ */


@media (max-width: 900px) {
   .cart-box {
  
        flex-direction: column-reverse;
        gap: 32px;

    }
    .cart-summary {
        margin: 0 0  0;
        
    }
}


@media (max-width: 768px) {
  .cart-content{
  padding: 0 55px;
}
.cart-hero{

    padding: 0 55px 64px 55px;
    

}
}
@media (max-width: 552px) {
  .cart-item {
    flex-direction: row;
    align-items: center;
  }

  /* картинка остаётся слева */
  .cart-item-image {
    order: 1;
  }

  /* название рядом с картинкой */
  .cart-item-title {
    order: 2;
    width: calc(100% - 120px);
  
  }

  /* ТОЛЬКО цена уходит под картинку */
  .cart-item-price {
    order: 3;
    width: 100%;
    margin: 0;
  }

  /* и элемент с классом active тоже под картинку */
  .cart-item .active-link {
    order: 4;
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .cart-container {

  padding: 0 0 64px 0;

}
   .cart-content{
  padding: 0 35px;
}


.cart-hero h2{

  margin-top: 0;
  margin-bottom: 0;
  }
  .cart-hero {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}


@media (max-width: 350px) {
   .cart-content{
  padding: 0 20px;
}
.cart-hero{

    padding: 48px 20px 64px 20px;

}
}



