@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.coming-soon-container {
  background-color: var(--color-backround);
  padding: var(--spacing-80) var(--spacing-70) var(--spacing-80) var(--spacing-70);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coming-soon-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-24);
  margin-bottom: var(--spacing-32);
}

.coming-soon--connect-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-32);
}

.coming-soon--connect-item .social-icons a{
  color: var(--color-primary);
}