@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.card-price .old-price {
  text-decoration: line-through;
  color: var(--color-secondary-text);
  margin-right: 8px;
}
/* === CAROUSEL === */

.carousel-section {
  margin-top: 80px;
  text-align: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: 20px auto;
  overflow: hidden;
}

.carousel-track {
  position: relative;
   height: 900px; /* фиксированная высота для слайдов */
}




.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.carousel-slide.active {
  opacity: 1;
  pointer-events: auto;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.carousel-title {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.carousel a {
  display: inline-block;
  padding: 8px 14px;
  margin-top: 10px;
  background: black;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.9rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  color: #333;
  z-index: 10; /* <-- добавлено */
}


.carousel-btn.prev {
  left: 0;
}

.carousel-btn.next {
  right: 0;
}