@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/*Header*/
.header {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: 'Playfair Display', serif;
}

.header-container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.logo img {
  height: 50px;
  width: auto;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

/* Header-nav*/
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: var(--color-backround);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-button-links-desktop);
  padding: 8px 16px;
  transition: color 0.3s, transform 0.2s;
}

.nav-links li a:hover {
  color: var(--color-primary);
  transform: translateY(-2px);
}

.nav-links li a i {
  font-size: 1.2rem;
  color: var();
}

@media (max-width: 480px) {
  .logo img {
    height: 40px;
  }

  .nav-links li a {
    font-size: var(--font-size-button-links-mobile);
  }
}

.card-image{
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}
.card-price .old-price {
  text-decoration: line-through;
  color: var(--color-secondary-text);
  margin-right: 8px;
}

/*Carusell*/
.latest-carousel {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 60px auto;
    overflow: hidden;
}

.carousel-slides {
    position: relative;
    width: 100%;
    height: 380px;
}

.carousel-slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex; 
    pointer-events: none; 
}

.carousel-slide.active {
    opacity: 1;
    display: flex; 
     pointer-events: auto; 
}

.carousel-slide img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

.carousel-title {
    font-size: 1.3rem;
    margin-bottom: 12px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-accent);
    border: none;
    color: #fff;
    padding: 12px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    z-index: 10; 

}

.carousel-btn:hover {
    background: var(--color-primary);
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.carousel-slide .cta-button {
    margin-top: 10px;
}

/* Filter */
.category-btn {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-accent);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.category-btn.active {
    background-color: var(--color-accent);
    color: var(--color-backround);
    border-color: var(--color-accent);
}

.category-btn:not(.active):hover {
    background-color: var(--color-accent);
    color: var(--color-backround);
}