@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");

/* ===== ОСНОВНАЯ КАРТОЧКА LOGIN ===== */


.login-hero{
  background-image: url("/Images/Untitled design.png");
  background-size: cover;
    padding: 0 70px 80px 70px;
    margin-bottom: 48px;
}
.login-hero h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 16px;
}
.login-card {

  background: var(--color-backround);
  padding: 0 0 80px 0;
  /*margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 360px;*/

}
.login-content{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  padding: 0 70px;
}



/* ===== ФОРМА ===== */
.login-form-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%
}

/* Группа поля */
.login-form-group {
  display: flex;
  flex-direction: column;
}

/* Label стиль как в checkout */
.login-form-label {
  white-space: nowrap;
  margin-bottom: 4px;
  font-family: var(--font-secondary);
}

/* INPUT как .form-input */
.login-form-input {
  height: clamp(36px, 4vw, 48px);
  display: flex;
  width: 100%;
  
  
  box-sizing: border-box;
}

.login-form-input:focus {
  outline: none;
  border-color: var(--color-accent);
}


.login-error-message {
  font-size: 0.85rem;
  color: var(--color-button-cta);
  display: block;
  margin-top: 4px;
}


.login-input-error {
  border-color: var(--color-button-cta);
}






.login-form-body button {
  margin-top: 8px;
  height: 48px;
  width: 140px;
  border: none;
  background-color: var(--color-button-cta);
  color: var(--color-backround);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  padding: 8px 20px;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: 0.3s ease;
}

.sign-up-form-group button:hover {
  color: var(--color-accent);
}

/* ===== АДАПТИВ ===== */
@media (max-width: 768px) {
 .login-hero{
    padding: 0 55px 80px 55px;
}
  .login-content{
 
  padding: 0 55px;
}

}

@media (max-width: 480px) {

 .login-hero{
    padding: 0 35px 48px 35px;
}
 .login-form-body button {
height: 36px;
    width: 124px;
  }
    .login-content{
 
  padding: 0 35px;
}
.login-hero h2{
padding-top: 48px;
  margin-top: 0;
  margin-bottom: 0;

}
.login-card {
    background: var(--color-backround);
    padding: 0 0 64px 0px;
}

}

@media (max-width: 350px) {
   .login-hero{
    padding: 0 35px 48px 35px;
}
   .login-content{
 
  padding: 0 20px;
}

}
