@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");


.login-hero{
  background-image: url("/Images/Hero-background.png");
  background-size: cover;
  padding: var(--spacing-0) var(--spacing-70) var(--spacing-80) var(--spacing-70);
  margin-bottom: var(--spacing-48);
}
.login-hero h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: var(--spacing-16);
}
.login-card {
  background: var(--color-backround);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-80) var(--spacing-0);
}
.login-content{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  padding: var(--spacing-0) var(--spacing-70);
}

.login-form-body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  width: 100%
}

.login-form-group {
  display: flex;
  flex-direction: column;
}

.login-form-label {
  white-space: nowrap;
  margin-bottom: 4px;
  font-family: var(--font-secondary);
}

.login-form-input {
  height: clamp(36px, 4vw, 48px);
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.login-form-input:focus {
  outline: none;
  border-color: var(--color-accent);
}

.login-error-message {
  font-size: 0.85rem;
  color: var(--color-button-cta);
  display: block;
  margin-top: 4px;
}

.login-input-error {
  border-color: var(--color-button-cta);
}

.login-form-body button {
  margin-top: var(--spacing-8);
  height: 48px;
  width: 140px;
  border: none;
  background-color: var(--color-button-cta);
  color: var(--color-backround);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  padding: var(--spacing-8) var(--spacing-20);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: 0.3s ease;
}

.sign-up-form-group button:hover {
  color: var(--color-accent);
}


@media (max-width: 768px) {
 .login-hero{
  padding: var(--spacing-0) var(--spacing-55) var(--spacing-80) var(--spacing-55);
}

  .login-content{
    padding: var(--spacing-0) var(--spacing-55);
}
}

@media (max-width: 480px) {
.login-hero{
  padding: var(--spacing-0) var(--spacing-35) var(--spacing-48) var(--spacing-35);
}

.login-form-body button {
  height: 36px;
  width: 124px;
}

.login-content{
  padding: var(--spacing-0) var(--spacing-35);
}

.login-hero h2{
  padding-top: var(--spacing-48);
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-0);

}
.login-card {
    background: var(--color-backround);
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-64) var(--spacing-0);
}
}

@media (max-width: 350px) {
  .login-hero{
    padding: var(--spacing-0) var(--spacing-48) var(--spacing-35);
}
  .login-content{
    padding: var(--spacing-0) var(--spacing-20);
}

}
