@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");

/* ===== ОСНОВНАЯ КАРТОЧКА LOGIN ===== */
.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
 

  background: var(--color-backround);
  margin: 0 auto;

  padding: 0 70px 64px 70px;

}

/* Заголовок как у legend */
.login-title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-h3);
  margin-bottom: 1.5rem;
}

/* ===== ФОРМА ===== */
.login-form-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Группа поля */
.login-form-group {
  display: flex;
  flex-direction: column;
}

/* Label стиль как в checkout */
.login-form-label {
  white-space: nowrap;
  margin-bottom: 4px;
  font-family: var(--font-secondary);
}

/* INPUT как .form-input */
.login-form-input {
  display: flex;
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border: 1px solid var(--color-accent);
  font-family: var(--font-secondary);
  box-sizing: border-box;
}

.login-form-input:focus {
  outline: none;
  border-color: var(--color-accent);
}

/* Ошибки */
.login-error-message {
  font-size: 0.85rem;
  color: var(--color-button-cta);
  display: block;
  margin-top: 4px;
}

/* Ошибка поля */
.login-input-error {
  border-color: var(--color-button-cta);
}

/* ===== КНОПКА как в checkout ===== */
.cta-button {
  margin-top: 1.5rem;
}

/* ===== Блок регистрации ===== */
.login-create-account {
  margin-top: 0.8rem;
}



.login-create-account-link:hover {
  text-decoration: underline;
}

/* ===== АДАПТИВ ===== */
@media (max-width: 768px) {
  .login-card {
 
    padding: 0 55px;
  }
  
}

@media (max-width: 480px) {
   .login-card {
    padding: 0 35px;
  }
 

}

@media (max-width: 350px) {
   .login-card {
    padding: 0 20px;
  }
}
