@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.product-price .old-price {
  text-decoration: line-through;
  color: var(--color-secondary-text);
  margin-right: 8px;
}

.auth-modal {
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2000;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
.share-button {
  background-color: #f0f0f0;
  border: none;
  padding: 0.6em 1em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  transition: background 0.3s ease;
}

.share-button:hover {
  background-color: #e0e0e0;
}