@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");


.product-container {
  background-color: var(--color-backround);
  padding: 0 70px 64px 70px;
}


.product-layout-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-layout {
  display: flex;
  gap: 5rem;
  align-items: flex-start;
  margin-top: 2rem;
  flex-wrap: wrap;
  max-width: 1100px; 
  width: 100%;   
}

.product-layout > * {
  flex: 1;
}

.product-image-wrapper {
  width: 100%;
  max-width: 540px; 
}

.product-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 16px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.product-tags-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: start;
}

.product-tag {
  min-width: clamp(90px, 12vw, 140px);
  height: clamp(36px, 4vw, 48px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-backround);
  color: var(--color-primary);
  border: 2px solid var(--color-secondary-text);
  border-radius: var(--border-radius);
  font-size: var(--font-size-button-links-desktop);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  pointer-events: none;
}

.product-price .old-price {
  text-decoration: line-through;
  color: var(--color-secondary-text);
  margin-right: 8px;
}

.product-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary);
  margin-top: 0;
}

.product-price {
  font-size: 1.5rem;
  color: var(--color-button-cta);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.product-price .old-price {
  text-decoration: line-through;
  color: var(--color-secondary-text);
  margin-right: 8px;
}

.product-description {
  line-height: 1.6;
}

.product-buttons-row{
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.share-button {
  min-width: clamp(90px, 12vw, 140px); 
  height: clamp(36px, 4vw, 48px);     
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 2px solid var(--color-accent);
  border-radius: var(--border-radius);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  font-size: var( --font-size-button-links-desktop) ;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  gap: 6px;
}

.share-button:hover {
  background-color: var(--color-accent);
  color: var(--color-backround);
}




@media (max-width: 640px) {
    .product-layout {
      flex-direction: column;
    }

    .product-image-wrapper {
      order: 1;
    }

    .product-info {
      order: 2;
    }

    .product-layout {
      gap: 0;
    }
}



@media (max-width: 768px) {
  .product-container{
    padding: 0 55px 64px 55px;
  }
}

@media (max-width: 480px) {
   .product-container{
    padding: 0 35px 64px 35px;
  }
}

@media (max-width: 350px){
  .product-container{
    padding: 0 20px 64px 20px;
  }
}
