@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Product section */
.product-container {
  background-color: var(--color-backround);
  padding: var(--spacing-0) var(--spacing-70) var(--spacing-24) var(--spacing-70);
  margin-bottom: var(--spacing-0);
}

.product-layout-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-layout {
  display: flex;
  gap: var(--spacing-80);
  align-items: flex-start;
  margin-top: var(--spacing-16);
  flex-wrap: wrap;
  max-width: 1100px; 
  width: 100%;   
}

.product-layout > * {
  flex: 1;
}

.product-image-wrapper {
  width: 100%;
  max-width: 540px;
  aspect-ratio: 1 / 1;   
  overflow: hidden;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-tags {
  width: fit-content;
  padding: 0 8px;
  height: clamp(36px, 4vw, 48px);
  display: flex;
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: var(--button-border-radius);
  font-size: var(--font-size-body-desktop);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--spacing-32);
}

.product-title {
  color: var(--color-primary);
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-32);
}

.product-rating{
  margin-bottom: var(--spacing-24);
}

.product-price  {
  font-size: var(--font-price-2-desktop);
  color: var(--color-button-cta);
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-24);
}

.product-price .old-price {
  text-decoration: line-through;
  color: var(--color-secondary-text);
  margin-right: var(--spacing-8);
}

.product-description {
 margin-bottom: var(--spacing-32);
}

.product-buttons-row{
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
  margin-bottom: var(--spacing-32);
}

.product-buttons-row .cta-button {
  min-width: 140px;
  min-height: 48px;
  border: none;
  background-color: var(--color-button-cta);
  color: var(--color-backround);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  padding: var(--spacing-8) var(--spacing-20);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: 0.3s ease;
}

.product-buttons-row  .cta-button:hover {
  color: var(--color-accent);
}

.share-button {
  min-width: 140px; 
  min-height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: var(--border);
  border-radius: var(--button-border-radius);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  font-size: var( --font-size-button-links-desktop) ;
  cursor: pointer;
  transition: 0.3s ease;
  gap: var(--spacing-6);
}

.share-button:hover {
  background-color: var(--color-accent);
  color: var(--color-backround);
}

.product-info .active-link{
  margin-bottom: var(--spacing-48);
}

.product-reviews-section h4{
  margin-bottom: var(--spacing-32);
}

.review-card{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-8);
  margin-bottom: var(--spacing-24);
}

/* "You might also like" */
hr{

  border:1px solid var(--color-accent);

  margin-inline-start: 0;
 
}
.products-also {
  margin-top: 4rem;
  background-color: var(--color-backround);
  padding: var(--spacing-0) var(--spacing-70) var(--spacing-64) var(--spacing-70);
}

.card {
  background-color: var(--color-backround);
  border-radius: 16px;
  padding: var(--spacing-16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  opacity: 70%;
  transform: translateY(-5px);
  box-shadow: var(--box-shadow);
  opacity: 1;
}

.card-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: var(--card-border-radius);
  margin-bottom: var(--spacing-32);
}

.card-content {
  text-align: center;
}

.card-title{
  text-align: center;
}

.card-price{
  display: flex;
  gap: var(--spacing-8);
  justify-content: center;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  margin-top: var(--spacing-24);
  text-align: center;
  font-size: var(--font-price-1-desktop);
}

.card-price .old-price {
  text-decoration: line-through;
  font-weight: var(--font-weight-bold);
  color: var(--color-secondary-text);
}

.card-price .new-price{
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

#also-container {
  display: grid;
  grid-auto-flow: column;                       
  grid-auto-columns: minmax(280px, 1fr);        
  overflow-x: auto;
  padding-bottom: var(--spacing-24);
  scroll-snap-type: x mandatory;
  gap: var(--spacing-24);
  padding-top: var(--spacing-16);
  overflow-y: visible;
}

#also-container > a {
  scroll-snap-align: start;
}

#also-container::-webkit-scrollbar {
  height: 8px;
  border: var(--border-1);
  border-radius: var(--border-radius);
}

#also-container::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 4px;
}

#also-container::-webkit-scrollbar-track {
  background: transparent;
}


.also-container h3{
  margin-top: var(--spacing-24);
  margin-bottom: 19px;
}

#products-also, 
#also-container { 
  padding-left: 12px;
  padding-right: 12px;
}
.also-container{
  margin: 0 58px;
}

#also-container .card:first-child {
    margin-left: 12px;
}