@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");



/* ===== ОСНОВНАЯ КАРТОЧКА LOGIN ===== */
.signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-backround);
  margin: 0 auto;
  padding: 0 70px 64px 70px;
  width: 100%;
  max-width: 360px;
}


/* Заголовок как у legend */
.signup-title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-h3);
  margin-bottom: 1.5rem;
}

/* ===== ФОРМА ===== */
.signup-form-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%
}

/* Группа поля */
.signup-form-group {
  display: flex;
  flex-direction: column;
}

/* Label стиль как в checkout */
.signup-form-label {
  white-space: nowrap;
  margin-bottom: 4px;
  font-family: var(--font-secondary);
}

/* INPUT как .form-input */
.signup-form-input {
  box-sizing: border-box;
  width: 100%;
  max-width: none;

  height: clamp(36px, 4vw, 48px);
  outline: none;
  
}


.signup-form-input:focus {
  outline: none;
  border-color: var(--color-accent);
}

/* Ошибки */
.signup-error-message {
  font-size: 0.85rem;
  color: var(--color-button-cta);
  display: block;
  margin-top: 4px;
}

/* Ошибка поля */
.signup-input-error {
  border-color: var(--color-button-cta);
}



/* ===== Блок регистрации ===== */
.signup-have-account {
  margin-top: 0.8rem;
}



.signup-have-account-link:hover {
  text-decoration: underline;
}

/* ===== АДАПТИВ ===== */
@media (max-width: 768px) {
  .signup-card {
 
    padding: 0 55px;
  }
  
}

@media (max-width: 480px) {
   .signup-card {
    padding: 0 35px;
  }
 

}

@media (max-width: 350px) {
   .signup-card {
    padding: 0 20px;
  }
}
