@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");



/* ===== ОСНОВНАЯ КАРТОЧКА LOGIN ===== */
.register-hero{
  background-image: url("/Images/Untitled design.png");
  background-size: cover;
    padding: 0 70px 80px 70px;
    margin-bottom: 48px;
}
.register-hero h2{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 16px;
}

.register-content{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  padding: 0 70px;
}


.register-card {
    background: var(--color-backround);
 
  padding: 0 0 80px 0px;
  /*display: flex;
  flex-direction: column;
  align-items: center;
 margin: 0 auto;
  width: 100%;
  max-width: 360px;*/
}



.register-form-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%
}

/* Группа поля */
.register-form-group {
  display: flex;
  flex-direction: column;
}

/* Label стиль как в checkout */
.register-form-label {
  white-space: nowrap;
  margin-bottom: 4px;
  font-family: var(--font-secondary);
}

/* INPUT как .form-input */
.register-form-input {
  height: clamp(36px, 4vw, 48px);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  
}

.register-form-input:focus {
  outline: none;
  border-color: var(--color-accent);
}

/* Ошибки */
.register-error-message {
  font-size: 0.85rem;
  color: var(--color-button-cta);
  display: block;
  margin-top: 4px;
}

/* Ошибка поля */
.register-input-error {
  border-color: var(--color-button-cta);
}



.register-form-body button {
  margin-top: 8px;
  height: 48px;
  width: 140px;
  border: none;
  background-color: var(--color-button-cta);
  color: var(--color-backround);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  padding: 8px 20px;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: 0.3s ease;
}

.register-form-body button:hover {
  color: var(--color-accent);
}



/* ===== АДАПТИВ ===== */

@media (max-width: 768px) {
 .register-hero{
    padding: 0 55px 80px 55px;
}
  .register-content{
 
  padding: 0 55px;
}

}

@media (max-width: 480px) {

.register-hero{
    padding: 0 35px 48px 35px;
}
 .register-form-body button {
height: 36px;
    width: 124px;
  }
  .register-content{
 
  padding: 0 35px;
}
.register-hero h2{
padding-top: 48px;
  margin-top: 0;
  margin-bottom: 0;

}
.register-card {
    background: var(--color-backround);
    padding: 0 0 64px 0px;
}

}

@media (max-width: 350px) {
 .register-hero{
    padding: 0 35px 48px 35px;
}
 .register-contentt{
 
  padding: 0 20px;
}

}
