@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");


body{
    margin: 0;
    padding: 0;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-mobile);
    font-style: normal;
    color: var(--color-primary);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-align: left;
    overscroll-behavior-y: none;
}
.page-wrapper{
    background-color: var(--color-backround);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h1);
    font-style: normal;
    color: var(--color-primary);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-align: left;
}

h2{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-h2);
    font-style: normal;
    color: var(--color-primary);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-align: left;
}

h3{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h3);
    font-style: normal;
    color: var(--color-primary);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-align: left;
}
a {
  text-decoration: none;
}


