@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body{
  margin: 0;
  padding: 0;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body-desktop);
  font-style: normal;
  color: var(--color-primary);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-align: left;
  overscroll-behavior-y: none;
}

h1{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-desktop-h1);
  font-style: normal;
  color: var(--color-primary);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-align: left;
  margin: 0;
}

h2{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-desktop-h2);
  font-style: normal;
  color: var(--color-primary);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-align: left;
  margin: 0;
}

h3{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-desktop-h3);
  font-style: normal;
  color: var(--color-primary);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-align: left;
  margin: 0;
}

h4{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-desktop-h4);
  font-style: normal;
  color: var(--color-primary);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-align: left;
  margin: 0;
}

p{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-backround);
}

fieldset {
  border: none;
  padding: var(--spacing-0);
}

input{
  border-radius: var(--button-border-radius);
  border: 1px solid var(--color-accent);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
  padding: var(--spacing-6) var(--spacing-16);
}

label{
  font-size: var(--font-size-body-desktop);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
}

legend {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-desktop-h4);
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.page-main{
  background-color: var(--color-backround);
  flex-grow: 1;
}

.container{
  background-color: var(--color-primary);
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-main .container{
  background-color: var(--color-backround);
}

/* Loader */
.loader {
	width: 1em;
	height: 1em;
  font-size: 2em;
	border: 3px solid;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
  position: fixed;
  right: 50%;
  margin-top: var(--spacing-24);
	}

	@keyframes rotation {
	  0% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(360deg);
	  }
	}

/* Toast */ 
.toast {
  position: fixed;
  top: var(--spacing-20);
  right: var(--spacing-20);
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: var(--spacing-20);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 1000;
  font-size: var(--font-size-body-desktop);
  margin-left: var(--spacing-70);
  pointer-events: none;
}

.toast p{
  margin: var(--spacing-0);
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

/* Modal window */
.auth-modal {
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(3px);
}

.auth-modal-content{
  display: flex;
  flex-direction: column;
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: var(--spacing-32);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-body-desktop);
}

.auth-modal-content h3{
  margin-top: 0;
  margin-bottom: var(--spacing-24);
  text-align: center;
}

.auth-modal-content p{
  margin-top: var(--spacing-0);
  text-align: center;
  margin-bottom: var(--spacing-32);
}

.auth-buttons{
  display: flex;
  justify-content: space-between;
}

.auth-buttons a{
  font-size: var(--font-size-body-desktop);
  color: var(--color-primary);
  font-weight: var(--font-weight-regular);
  text-decoration: underline;
}

.close-modal{
  text-align:end;
  cursor: pointer;

}

/* Header */
.header{
  background-color: var(--color-backround);
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
  height: 60px;
  padding: var(--spacing-0) var(--spacing-70);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  height: 50px;
}

.logo img {
  height: 50px;
  width: auto;
}

.logo-menu-mobile{
  display: none;
}

/* Hamburger */
.menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: var(--font-size-body-desktop);
  color: var(--color-backround);
  z-index: 1001;
}
/* Close */
.close-menu {
  display: none;
  position: absolute;
  top: 25px;
  top: 24px;
  right: var(--spacing-70);
  color: var(--color-backround);
  cursor: pointer;
  z-index: 1001;
}

.menu-toggle:checked + .hamburger {
  opacity: 0;
  pointer-events: none;
}

body:has(.menu-toggle:checked) {
  position: fixed;
  width: 100%;
}

/* Desktop nav links */
.nav-links {
  display: flex;
  gap: var(--spacing-32);
  list-style: none;
  margin: var(--spacing-0);
  padding: var(--spacing-0);
  align-items: center;
}
.nav-links li a {
  text-decoration: none;
  color: var(--color-backround);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-button-links-desktop);
  padding: var(--spacing-8) var(--spacing-0);
  transition: var(--transition);
}

.nav-links li a:hover {
  color: var(--color-accent);
}

.auth-cart {
  display: flex;
  gap: var(--spacing-16);
  align-items: center;
}

.auth-cart a {
  text-decoration: none;
  color: var(--color-backround);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-button-links-desktop);
  padding: var(--spacing-8) var(--spacing-0);
  transition: var(--transition);
}

.auth-cart a:hover {
  color: var(--color-accent);
}

.auth-cart i {
  font-size: var(--font-size-body-desktop);
}

/* Footer */
.page-footer{
  background-color: var(--color-primary);
  padding: var(--spacing-0) var(--spacing-70);
  margin-top: var(--spacing-0);
}

.footer-container {
  text-align: center;
  background: var(--color-primary);
  color: var(--color-backround);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}

.footer-container p{
  color: var(--color-backround);
}

.footer-container a{
  color: var(--color-backround);
}

.footer-container a:hover{
  color: var(--color-accent);
}

.footer-nav-links {
  display: flex;
  gap: var(--spacing-32);
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.social-icons{
  display: flex;
  gap: var(--spacing-24);
}


/* CTA-button */
.cta-button {
  width: 140px;
  height:48px;
  border-radius: var(--button-border-radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button-cta);
  color: var(--color-backround);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-button-links-desktop);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.cta-button:hover {
  color: var(--color-accent);
}

/* Breadcrumbs */
.nav-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 24px 0;
}

.nav-page nav {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.nav-page a{
  font-size: var(--font-size-body-mobile);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

/* Active-link */
.active-link {
  font-size: var(--font-size-body-desktop);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  text-decoration:underline ;
  cursor: pointer;
}

/* Errors */
.error{
  margin-top: var(--spacing-8);
}


@media (max-width: 1000px) {
.close-menu{
  color: var(--color-primary);
}

.menu-toggle:checked ~ .nav .close-menu {
  display: block;
}
.hamburger {
  display: block;
}

.logo-menu-mobile{
  display: block;
  height: 40px;
}

.nav {
  position: fixed;
  display: inline-flex;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 480px;
  background-color: var(--color-secondary);
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  padding: var(--spacing-20) var(--spacing-70) var(--spacing-32) var(--spacing-70);
  overflow-y: auto; 
  align-items: left;
  justify-content: start;
  height: auto;
  right: 100%;
  border-radius: 0 0 var(--card-border-radius) 0;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  }

.nav-links li a{
  color: var(--color-primary);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
}
  
.menu-toggle:checked ~ .nav {
  left: 0;
}

.nav-links {
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: start;
}

.nav-links i{
  color: var(--color-primary);
}
}


@media (max-width: 768px) {
.header-container {
  padding: var(--spacing-0) var(--spacing-55);
}

.footer-nav-links {
  flex-direction: column;
}

.footer-container {
  flex-direction: column;
  height: 276px;
  padding: var(--spacing-24) var(--spacing-0);
}

.footer-nav-links {
  gap: var(--spacing-16)
}

.footer-nav .social-icons {
  gap: var(--spacing-16)
}

.footer-container p {
  order: 1; 
}

.footer-nav, .social-icons {
  order: 0; 
}

.page-footer{
  padding: var(--spacing-0) var(--spacing-55);
}

.toast {
  margin-left: var(--spacing-55);
}

.auth-modal-content{
  margin: var(--spacing-0) var(--spacing-55);
}

.nav {
  padding: var(--spacing-20) var(--spacing-55) var(--spacing-32) var(--spacing-55);  
}

.close-menu {
  right: var(--spacing-55);
}
}

@media (max-width: 480px) {
  body{
    font-size: var(--font-size-body-mobile);
  }
  
  h1{
    font-size: var(--font-size-mobile-h1);
  }

  h2{
    font-size: var(--font-size-mobile-h2);
  }

  h3{
    font-size: var(--font-size-mobile-h3);
  }

  h4{
  font-size: var(--font-size-mobile-h4);
  }

  a {
  font-size: var(--font-size-body-mobile);
  }

  legend {
  font-size: var(--font-size-mobile-h4);
  }

  label{
  font-size: var(--font-size-body-mobile);
  }
.loader {
  right: 45%;
  margin-top:120px;
	}

.header-container {
  padding: var(--spacing-0) var(--spacing-35);
}

.cta-button {
  width: 124px;
  height: 36px;
  font-size: var(--font-size-button-links-mobile);
}

.active-link{
  font-size: var(--font-size-body-mobile);
}

.footer-nav-links {
  display: flex;
  flex-direction: column;
}

.logo img {
  height: 40px;
}

.nav-links{
  gap: var( --spacing-24);
}

.nav-links li a {
  font-size: var(--font-size-button-links-mobile);
}

.carousel-btn {
  display: none; 
}

.nav-page {
  display: none;
}

.page-footer {
  padding: var(--spacing-0) var(--spacing-35);
}

.products, .filter{
padding: var(--spacing-0) var(--spacing-35);
}

.auth-modal-content{
  margin: var(--spacing-0) var(--spacing-35);
  padding: var(--spacing-16);
  font-size: var(--font-size-body-mobile);
}

.auth-buttons a{
  font-size: var(--font-size-body-mobile);
}

.auth-modal-content h3{
  margin-bottom: var(--spacing-16);
}

.toast {
  margin-left: var(--spacing-35);
  font-size: var(--font-size-body-mobile);
}

.nav {
  border-radius: 0;
  padding: var(--spacing-20) var(--spacing-35) var(--spacing-32) var(--spacing-35);
}

.close-menu {
  right: 35px;
}
}


@media (max-width: 350px){
  .header-container {
    padding: var(--spacing-0) var(--spacing-20);
  }

  .page-footer{
    padding: var(--spacing-0) var(--spacing-20);
  }

  .logo img {
    height: 30px;
  }
 
  .products,.filter{
  padding: var(--spacing-0) var(--spacing-20);
}

.auth-modal-content{
  margin: var(--spacing-0) var(--spacing-20);
}

.auth-buttons{
  flex-direction: column;
}

.auth-buttons a{
  text-align: center;
}

.toast {
  margin-left: var(--spacing-20);
}

.close-menu {
  right: var(--spacing-20);
}

.nav {
  padding: var(--spacing-20) var(--spacing-20) var(--spacing-32) var(--spacing-20);   
}
}