:root {

  /* Colors */
  --color-primary: #1C1C1C;
  --color-secondary: #F1E9DD;
  --color-accent: #C6A664;
  --color-backround: #F8F6F2;
  --color-secondary-text: #6F6F6F;
  --color-button-cta: #A1332A;
  
  /* Spacing */
  --spacing-0: 0px; 
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-12: 12px; 
  --spacing-16: 16px; 
  --spacing-20: 20px; 
  --spacing-24: 24px; 
  --spacing-32: 32px;
  --spacing-35: 35px;
  --spacing-48: 48px;
  --spacing-55: 55px; 
  --spacing-64: 64px;
  --spacing-70: 70px;
  --spacing-80: 80px; 

  /* Typography */
  --font-primary: "Playfair Display", Arial, sans-serif;
  --font-secondary: "Inter", Helvetica, sans-serif;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Headings */
  --font-size-desktop-h1: 4rem;
  --font-size-desktop-h2: 3rem;
  --font-size-desktop-h3: 2rem;
  --font-size-desktop-h4: 1.5rem;

  --font-size-mobile-h1: 2.25rem;
  --font-size-mobile-h2: 2rem;
  --font-size-mobile-h3: 1.5rem;
  --font-size-mobile-h4: 1.25rem;

  /* Body text */
  --font-size-body-desktop: 1.25rem;
  
  --font-size-body-mobile: 1.125rem;

  /* Price */
  --font-price-1-desktop: 1.25rem;
  --font-price-2-desktop: 1.5rem;

  --font-price-1-mobile: 1.125rem;
  --font-price-2-mobile: 1.25rem;

  /* Line height & letter spacing */
  --line-height: 1.5;
  --letter-spacing: 0.5px;

  /* Components */
  --font-size-button-links-desktop: 1.125rem;
  --font-size-button-links-mobile: 1rem;
  --button-padding: 8px 16px;
  --button-border-radius: 6px;
  --card-border-radius: 12px;
  --image-border-radius: 10px;
  --border: 2px solid var(--color-accent);
  --border-1: 1px solid var(--color-accent);
  --box-shadow: 0 8px 20px var(--color-accent);
  --transition: color 0.3s, transform 0.2s;




}